.container{
    background-color: #b91547;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.dati-personali{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.generalità{
    display: flex;
    flex-direction: column;
}

.distanza-km{
    display: flex;
    flex-direction: column;
}

.età-utente{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.list-group{
    display: flex;
    justify-content: center;
    padding: 20px;
}
span{
    font-weight: bold;
}

.nascosta{
    display: none;
}



